.title {
	font-size:25px;
	text-align:center;
	max-width:8.5in;
}

body {
	width:8.5in;
	height:11in;
}

span.section_header {
	color:Blue;
	display:block;
	font-weight:bold;
	text-align:center;
}

div.column {
	display:flex;
	flex-direction:column;
}

div.left_column {
	width:4in;
}

div.right_column {
	width:4in;
}

div.gutter {
	width:8px;
	height:9in;
}

div.section {
	border-style:solid;
	border-radius:5px;
}

.box {
	font-size:14px;
	width:20px;
	height:20px;
	border-style:solid;
	text-align:center;
}

span.ability {
	font-size:18px;
	color:Blue;
}

div.recovery {
	display:flex;
	flex-direction:row;
}

td.effort {
	vertical-align:center;
	text-align:center;
}

div.cypher_limit_block {
	float:left;
	display:left;
	vertical-align:center;
}

div.cypher_block {
	float:left;
	display:left;
	width:2.3in;
}

div.section_multiblock {
	min-height:3in;
}

div.page {
	min-width:8in;
	width:8in;
	min-height:11in;
	height:11in;
	display:flex;
	flex-direction:row;
	page-break-after:always;
	overflow:hidden;
}

div#page1 {
	flex-direction:column;
}

div.columnbox {
	display:flex;
	flex-direction:row;
}

div.advancement_item {
	display:flex;
	flex-direction:column;
	position:absolute;
	transform:translate(-50%,0%);
	text-align:center;
	align-items:center;
}

div.tier {
	flex-direction:row;
}

div.tier {
	top:5px;
	left:50%;
}

div.stats {
	left:21%;
	top:19%;
}

div.effort {
	left:21%;
	top:55%;
}

div.other {
	left:38%;
	top:80%;
}

div.xp {
	left:62%;
	top:80%;
}

div.ncs {
	left:79%;
	top:55%;
}

div.edge{
	left:79%;
	top:19%;
}

div.special_abilities_1 {
	min-height:6in;
}

div.skills {
	min-height:3in;
}

div.pools {
	min-height:1in;
	border-style:none;
}

div.recoveries {
	min-height:1in;
	border-style:none;
}

div.cyphers {
	min-height:2in;
}

div.armor {
	min-height:2in;
}

div.description {
	min-height:4in;
}

div.focus {
	min-height:2in;
}

div.advancement {
	width:4in;
	height:3in;
	border-style:none;
	position:relative;
}

div.equipment {
	min-height:5in;
}

div.additional_cyphers {
	min-height:2in;
}

div.section_block {
	margin:10px;
}

#page1 div.left_column {
	width:4.5in;
}

#page1 div.right_column {
	width:3.5in;
}

div.special_abilities_2 {
	min-height:10in;
}

div.special_abilities_3 {
	min-height:10in;
}
